@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Needed that backdrop works on safari */
  .backdrop-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 95% 10%;
    --primary: 31 24% 83%;
    --primary-foreground: 0, 0%, 9%;
    --secondary: 0 10% 90%;
    --secondary-foreground: 215, 16%, 47%;
    --muted: -38 10% 95%;
    --muted-foreground: 0 0% 40%;
    --accent: -38 10% 90%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 20% 82%;
    --input: 0 20% 50%;
    --ring: 0 90.6% 70.8%;
    --radius: 1rem;
  }
  .dark {
    --background: 0 10% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 10% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 90.6% 70.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 10% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: -38 10% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 20% 50%;
    --input: 0 20% 50%;
    --ring: 0 90.6% 70.8%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .overflow-disabled-when-scrolling {
    overflow: hidden;
  }
}
